
<!-- this is to include google fonts for different font-families of the headings of my charts -->
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

<style type="text/css">


/*the reason for this is to space out the arrow like buttons - not have them one over another*/
	table#tbl_for_booking_tabs{ 
		border-collapse: separate; border-spacing: 35px; 
	}


	/*-------------this is styling for the list of legend----------*/
	div#legend ul {
	  list-style: none;
	}
	div#legend ul li {
	  display: block;
	  position: relative;
	  margin-bottom: 4px;
	  border-radius: 5px;
	  padding: 2px 8px 2px 28px;
	  font-size: 14px;
	  cursor: default;
	  -webkit-transition: background-color 200ms ease-in-out;
	  -moz-transition: background-color 200ms ease-in-out;
	  -o-transition: background-color 200ms ease-in-out;
	  transition: background-color 200ms ease-in-out;
	}
	li span {
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 20px;
	  height: 100%;
	  border-radius: 5px;
	}
	/*-----------------------------------------------------------------*/





</style>

<div class="container-fluid" style="background-color: #eee;">

	<%= render '/all_other_partials/navbar_for_dashboard_stuff' %>

	<div class="row" style="position:relative ;height: 690px; background-color: #eee; ">

		<div class="col-md-2">


		</div>

		<div class="col-md-8" style="height: 95% ; background-color:white ; padding: 30px 30px 20px 20px ;">

			<table>

				<tr>

					<!-- this is just navigation arrows that further help in selection -->
					<td style="vertical-align:baseline;">

						<%= render '/all_other_partials/statistical_dashboard_like_arrows' %>

					</td>

					<!-- WE GET THE LIBRARY OF CHART LOADED TO GET THOSE COOL GRAPHS -->
					<!-- we include this file of chart.js using a cdn -->
					<script  src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js "></script>

					<!-- this is where tables and graphs will go -->
					<td id="where_tables_and_graphs_should_go">
						<!-- stuff in here might be overwritten when ajax request is run - actually dom is what will change but you can think of it as here as well  -->


						<!-- SO MANY LOCAL VARIABLES BECAUSE I'M TRYING SO HARD TO USE ONE PARTIAL FOR THE STATS OF PETOWNERS AND PETSITTERS(avoid duplication of partials) -->
						<%= render partial: 'statistical_info_for_pet_owners' ,locals: { total_number_of_users: @total_number_of_petowners , number_of_users_in_karen: @number_of_petowners_in_karen ,    number_of_users_in_runda: @number_of_petowners_in_runda ,number_of_users_in_lavington: @number_of_petowners_in_lavington ,number_of_users_in_chiromo: @number_of_petowners_in_chiromo ,
							array_of_count_of_users_for_each_month: @all_petowners_within_months , 
							user: "Pet Owners"  } %>

							<!-- that last local variable called user is for the headings (e.g Population dist of Pet Owners or Of Pet Sitters) to dynamically change when i'm dealing with users who are petowners or petsitters i.e when i click on the dashboard arrow tabs the headings should change  -->
						 
						
					</td>

				</tr>


			</table>


		</div>

		<div class="col-md-2">



		</div>

	</div>

</div>



<script type="text/javascript">

	$("li#tab_for_statistics").addClass("active") ;

	// this statement below is so that when we land on this page the first tab is preselected and decorated
	$("button#default-active-tab").addClass("clicked_decorate") ; 



	$("button.booking-tab-btns").click( function() {

		// if any of those buttons we 
			// i) firstly want to remove the class clicked_decorate on all the buttons including the one clicked
			// ii) then we want to put back class clicked_decorate on the clicked button
		
		$("button.booking-tab-btns").removeClass("clicked_decorate") ;
		$(this).addClass("clicked_decorate") ;




	});





	
</script>

