<div class="container-fluid" style="background-color: #eee;">

	<%= render '/all_other_partials/navbar_for_dashboard_stuff' %>








</div>

<script type="text/javascript">

	$("li#tab_for_edit_profile").addClass("active") ;


</script>