/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require bootstrap-slider
 *= require customized_bootstrap_things.scss
 *= require_self
 *= require jquery-ui.min.css
 *= require jquery-ui.structure.min.css
 *= require prettify.css
 *= require pepper-ginder-custom.css
 *= require jquery-ui.theme.min.css
 *= require font-awesome
 */

 /*these are the sign up and sign in buttons on the layout of every page*/
 button.btn.btn-default.navbar-btn.border-highlight{

			border: 1px solid #00acc1 !important ;
			color: #00acc1 ;
}
 
 /*slider for jquery ui(used in price petsitter charges form) - changed the color to blue*/
 #ex1Slider .slider-selection {
	background: #BABABA;
}

/*THIS CSS MAKES BORDERS OF ALL PANELS THAT SURROUND FORMS TO BE VISIBLE - BY MAKING THEM THICKER */
.border_style{
	border: 2px solid black ;
}
/*-------------------------------------------------------------------*/


/* this makes the years dropdown list in jquery ui datepicker to have text(which are the years) to be blue - bcoz originally you can't see the years*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
      color: #0078ae;
      font-family: ...;
      font-size: 16px;
      font-weight: bold;
}
/*-------------------------------------------------------------------*/

/*this is to avoid having a horizontal scrollbar when using <div class="container-fluid" because it makes your site move sideways - which is not proper usability.*/
.row{
  margin: 0px ;
}
/*---------------------------------------------------------------------*/

/*THIS WAS TO MAKE THE CHECKBOXES WHICH APPEAR LIKE TOGGLE BUTTONS STRETCH TO FILL THEIR INDIVIDUAL CELL WIDTH*/
.btn_for_pets_query{
  width: 100% ;
  border-radius: 0px;
}


body {
  margin:0px;
  padding:0px;
}





/*THIS IS WHAT CHANGES THE PATH TO GLYPHICONS FONTS AND ALLOWS US TO ACCESS THEM WITHOUT ACTUALLY CHANGING THE BOOTSTRAP FILES*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*The @font-face rule allows custom fonts to be loaded on a webpage.*/
/*this is how to include fonts in your css*/
/*Specify a font named "myFirstFont", and specify the URL where it can be found:*/
/*tested out the url path with terminal how to get to vendor/assets from stylesheets folder*/
@font-face {
    font-family: 'bichette';
    src: url('bichette.ttf');
}

@font-face {

  font-family: 'rifficfreebold' ;
  src: url('RifficFree-Bold.ttf');
}

@font-face {

  font-family: 'marydale' ;
  src: url('marydale.ttf');
}