

$black-color-for-site: #464646 ;
$primary-background-color: #F5F5F5;
$secondary-background-color: #237CBE;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 50%);

div.div_holding_header{

  border-bottom: 2px solid $black-color-for-site;
}

header{
	height: 70px ;
	width: 100% ;
  

    // this nested trail is for the name of a person on the header section once the person successfuly signs in
      div{

        table{

          tr{

            td{

              div.btn.btn-default.navbar-btn.name_section_log_in{

                border:none !important ;
                color: #00acc1; 
                font-size: 16px ;

              }

              div:hover{

                text-decoration: none ;
              }


            }
          }
        }
      }
    // ------------------------------------------------------------



}



// ---THIS IS FOR THE NOTIFICATION ICON THAT APPEARS AT THE TOP OF EVERY PAGE ONCE SIGNED IN----
td.notification_icon_header{

  a:hover{

    i{

      color: darken( #D3D3D3 , 30%) !important ;
    }


  }


}

// -----------------------------------------------------------------------------


// ----------------------------FOOTER STUFF---------------------------------
footer{
  position: absolute;
  height: 70px;
  bottom: 0;
  width: 90%;
  
  

	// sass allows nesting of elements within parent elements
	table#toptable{
		width: 100% ;

	}
}
// -------------------------------------------------------------------------

// ------------------------------FLASHES-----------------------------
.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 7px;
  margin: 0;

  // p { margin: 0 0 10px;} in bootstrap has 10px margin-bottom and we need to overwrite that otherwise there will be a whitespace after the flash - ANNOYING BUG COZ OF BOOTSTRAP!!!!! 
  margin-bottom: 0px !important ;

  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;
  
  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}





