
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h2 style="text-align:center ;  font-family: rifficfreebold;">Frequently Asked Questions</h2>


        <table id="table_for_help_info">

        	<tr>
        		<td>

        			<h3> Getting Started </h3>

        			<div class="panel">
			            <div  class="question">What is PetCare?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			                PetCare is a system that helps connect pet owners to homy, trustworthy and caring petsitters. Have you ever wanted to travel for several days to attend to work or for holiday and have been forced to leave your pets in a boarding kennel where attention given to your pet is minimal ? Have you been forced to leave your pets with a relative who probably knows little to do with caring for pets when you are away ? PetCare helps resolve such issues giving you peace of mind when you're away 
			            </div>
        			</div>
			        <br>
			        <div class="panel">
			            <div class="question">
			            	How does PetCare work ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			               If you're going for a work related meeting(s) or a holiday away, sometimes it becomes impossible to take your pet with you and you're left with an option of either begging a relative to care for your pet or leave your pet in a boarding kennnel. PetCare works to give you a third better option. PetCare allows you to browse for petsitters around your area, choose and book for a pet stay with a petsitter and now you can enjoy your time away knowing your pet is receiving the best attention. 
			            </div>
			        </div>
			        <br>
			        <div class="panel">
			            <div  class="question">What pets can be cared for through PetCare ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			                Dogs , Cats , Horses , Parrots and Fish
			            </div>
			        </div>
			        <br>
			        <div class="panel">
			            <div  class="question">What pet services are offered through PetCare ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			                Normal boarding , In Home boarding and Daycare services
			            </div>
			        </div>
        		</td>

        		<td>

        			<h3> Petsitter/Petowner Account Details </h3>

        			<div class="panel">
			            <div  class="question">
			            	Who is a Pet owner ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			                A pet owner is anyone who wants their pet cared for the while they are away.
			            </div>
        			</div>
			        <br>
			        <div class="panel">
			            <div class="question">
			            	Who is a Pet sitter ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			               A pet sitter is anyone who loves pets and would be willing to care for other people's pets while they are away. A pet sitter can earn money while caring for pets.
			            </div>
			        </div>
			        <br>
			        <div class="panel">
			            <div  class="question">
			            	Can one be both a pet owner and a pet sitter with a single account ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			                No, a person cannot be both a pet owner and a pet sitter. However, if you want to be both, you could create different accounts one as a pet sitter and the other as a pet owner.  
			            </div>
			        </div>
			        <br>
			        <div class="panel">
			            <div  class="question">
			            	How do i register for an account of either a pet sitter or a pet owner ? 
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			               Just navigate to the top of the page and select Sign Up button. From there you'll be requested to either register for an account of a petsitter or of a pet owner.  
			            </div>
			        </div>
			        <br>
			        <div class="panel">
			            <div  class="question">
			            	Should I fill all the steps during sign up to get my account up and running ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			               It is NOT a requirement to fill all the steps , however , it is recommended especially for pet sitters. THE ONLY STEP THAT IS MANDATORY IS THE BASIC REQUIRED DETAILS STEP 
			            </div>
			        </div>

        		</td>



        	</tr>

        	<tr>
        		<td>

        			<h3> Bookings </h3>

        			<div class="panel">
			            <div  class="question">
			            	As a pet owner how do I book for a pet sitter ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			            	Firstly to book for a pet sitter you must have an account. Otherwise all it involves is going to the search page which one  
			                 
			            </div>
        			</div>
        			<br>
			        <div class="panel">
			            <div  class="question">
			            	How many bookings is a pet sitter allowed to handle within same period ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			               A pet sitter is allowed to handle a maximum of 3 bookings.
			            </div>
			        </div>

        		</td>



        		<td>

        			<h3> Payments </h3>

        			<div class="panel">
			            <div  class="question">
			            	Does PetCare handle online payments of a pet stay/booking ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			            	As of now PetCare DOES NOT handle any form of online payment, however , the PetCare is working towards integrating this component in the coming future. Payments of the bookings are made on a personal level between pet sitter and pet owner on either the drop off date or pick up date preferrably the pick up date.    
			                 
			            </div>
        			</div>
        			<br>
			        <div class="panel">
			            <div  class="question">
			            	Can a different payment be agreed upon by a pet owner and pet sitter ?
			                <img  class="arrow down" src="assets/arrow-down.svg">
			                <img  class="arrow up collapse" src="assets/arrow-up.svg">
			            </div>
			            <div  class="answer collapse">
			              Yes, a pet owner and pet sitter can decide upon a different price but both parties must agree otherwise we default back to the price as displayed by the system.
			            </div>
			        </div>




        		</td>




        	</tr>






        </table>
       
        <!-- JavaScript -->
        <script src="/assets/help_info.js"></script>
    </body>



