
<div class="container-fluid overall" >


<!-- ~~~~~~~~~THIS SECTION DEFINES THE SECTION THAT DISPLAYS AND IDENTIFIES THE TASKS THAT A USER CAN PERFORM e.g FIND A SITTER , BOOK A SITTER. IT ALSO DISPLAYS THE MISSION OF THE SYSTEM  --> 
	<div id="with_background_image">

		<div id="p_tag_for_landing_page">

			<table>
				<tr>
					<td>
						<h3 id="project_goal">
							<strong>
								Find a homy , trustworthy &amp; caring pet sitter near you
							</strong>
							
						</h3>
					</td>

				</tr>
				<tr>
					<td>
						<a class="btn landing_page_btns" id="btn_for_becoming_petowner" href="/search_main_page">

							Browse for a pet sitter

						</a>

					
					</td>
				</tr>

				<!-- to allow for spacing between the two buttons -->
				<tr style="height: 8px;">

				</tr>

				<tr>

					<td>

						<a class="btn landing_page_btns" id="btn_for_becoming_petsitter" href="/petcare/register-as-who-now" >	
							Offer pet sitting services	
						</a>

					</td>

				</tr>	
	
			</table>
			

		</div>

		





	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->



	<!-- ~~~~~~~~THIS SECTION DEFINES THE BRAND NAMES INVOLVED WITH THE COMPANY IF ANY ~~~~~~~~-->
	<div id="div_for_brand_names">


	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


	<!-- ~~~~~~~~~THIS SECTION DEFINES THE 'HOW IT WORKS' SECTION WHICH IS EXPLAINING HOW THE SYSTEM WORKS TO NEW USERS-->
	<div id="how-it-works-section">
		<table>
			<tbody>
			</tbody>
		</table>

		<div class="row">

			<div class="col-md-2">
				<!-- first column -->
			</div>

			<div class="col-md-8">

				<table id="tbl_for_icons_numbers_and_description">

					<tbody>

						<tr style="text-align:center ; height: 60px ; width: 100%; ">
							<td>

							</td>
							<!-- this is the part that says it's as easy as 1-2-3 -->
							<td style="font-size: 19px ; color: white ; font-weight: bolder ;">
								  It's as easy as 1-2-3
							</td>

							<td>

							</td>
							
						</tr>

						<tr id="row_for_numbers" >
							<!-- this is the part where you write actual numbers 1 , 2 ,3 for each column -->
							<td class="center" >
								<!-- div { margin: auto; } This will center your div inside a td tag. -->

								<!-- Setting the width of a block-level element will prevent it from stretching out to the edges of its container to the left and right. -->
								<!-- Then, you can set the left and right margins to auto to horizontally center that element within its container. The element will take up the width you specify, then the remaining space will be split evenly between the two margins.  -->
								<div style="padding:2px 2px 2px 2px ;background-color: white ; border-radius: 50% ;margin: auto; width: 29px ; height: 29px ; ">
									<div style="padding:2px 2px 2px 2px ; background-color:#008294; border-radius: 50%;width: 25px ; height: 25px; ">
										<span style="color:white;">1</span>
									</div>
								</div>
							</td>

							<td>

								<div style="padding:2px 2px 2px 2px ;background-color: white ; border-radius: 50% ;margin: auto; width: 29px ; height: 29px ; ">
									<div style="padding:2px 2px 2px 2px ; background-color:#008294; border-radius: 50%;width: 25px ; height: 25px; ">
										<span style="color:white;">2</span>
									</div>
								</div>

							</td>

							<td>
								<div style="padding:2px 2px 2px 2px ;background-color: white ; border-radius: 50% ;margin: auto; width: 29px ; height: 29px ; ">
									<div style="padding:2px 2px 2px 2px ; background-color:#008294; border-radius: 50%;width: 25px ; height: 25px; ">
										<span style="color:white;">3</span>
									</div>
								</div>

							</td>

						</tr>

						<tr id="for_icons">
							<!-- ths row will have 3 columns where we place actual icons - 1st column:search icon 2nd column:calendar icon and 3rd column:suitcase icon -->
							<td>
								<!-- icon for search -->
								<i class="fa fa-search fa-2x"></i>

							</td>

							<td>
								<!-- icon for calendar to suggest bookings -->
								<i class="fa fa-calendar fa-2x"></i>

							</td>

							<td>
								<!-- icon for suitcase to suggest travel -->
								<i class="fa fa-suitcase fa-2x"></i>

							</td>

						</tr>

						<tr id="row_for_one_word_topic">

							<td>
								Browse
							</td>

							<td>
								Book
							</td>

							<td>
								Enjoy
							</td>

						</tr>

						<tr id="row_for_explanation_of_each_topic">

							<!-- made each cell(3 cells) have columns in them which will be 3 to allow for proper text wrap  -->
							<!-- NOTE TO FUTURE SELF: HOWEVER I NEED TO FIND A BETTER WAY OF MAKING EQUAL SIZED COLUMNS EVEN IF COLUMN EMPTY WITHOUT ACTUALLY PUTTING PIXELS AFTER READING FROM DOM. REMEMBER IF COLUMN IS EMPTY IS EMPTY IT AUTOMATICALLY MAKES IT WIDTH O  -->
							<td>
								<table>
									<tr>
										<td style=" position:relative; width: 80px ;">

										</td>

										<td style=" position:relative; width: 165px ;">
											Search for a sitter near you who is a perfect fit for your pet 
										</td>

										<td style=" position:relative; width: 80px ;">

										</td>
									</tr>
								</table>
								
							</td>

							<td>
								<table>
									<tr>
										<td style=" position:relative; width: 80px ;">

										</td>

										<td style=" position:relative; width: 165px ;">
											Tell us the period you want your pet cared for
										</td>

										<td style=" position:relative; width: 80px ;">

										</td>
									</tr>
								</table>
								
							</td>

							<td>
								<table>
									<tr>
										<td style=" position:relative; width: 80px ;">

										</td>

										<td style=" position:relative; width: 165px ;">
											Relax and have piece of mind while away
										</td>

										<td style=" position:relative; width: 80px ;">

										</td>
									</tr>
								</table>
							</td>

						</tr>

					</tbody>

				</table>

			</div>

			<div class="col-md-2">


			</div>

		</div>

			


	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</div>