<!-- ~~~~~~~~~THIS SECTION DEFINES THE SECTION THAT DISPLAYS AND IDENTIFIES THE TASKS THAT A USER CAN PERFORM e.g FIND A SITTER , BOOK A SITTER. IT ALSO DISPLAYS THE MISSION OF THE SYSTEM  -->
	<div>


	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->



	<!-- ~~~~~~~~THIS SECTION DEFINES THE BRAND NAMES INVOLVED WITH THE COMPANY IF ANY ~~~~~~~~-->
	<div>


	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


	<!-- ~~~~~~~~~THIS SECTION DEFINES THE 'HOW IT WORKS' SECTION WHICH IS EXPLAINING HOW THE SYSTEM WORKS TO NEW USERS-->
	<div>


	</div>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->