<div class="container">

	<div class="row">
		<footer>

			<table id="toptable">
				<tr>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

				</tr>

				<tr>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

				</tr>

				<tr>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

				</tr>

				<tr>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

					<td>

					</td>

				</tr>

			</table>
			<p>
				Copyright &copy; 2016 PetCare Provision. All rights reserved.
			</p>
		</footer>
	</div>
</div>
