
<div class="container-fluid">

	<div class="row">

		<header>
			<div class="col-md-4">
				<!-- using a span makes the Care part of the word have a different color. Remember this is one word but we use the span to apply style color to part of the word because unlike block elements, in line elements do not start on new line and only continue where they left off  -->
				<h1 style="float:left; font-weight:bold ;" >Pet<span style="color:#00acc1;">Care</span></h1>
			</div>

			<div class="col-md-8">

				<table style="float:right;">
					
					<tr>
						<!-- login button -->
						<td>
							<button type="button" class="btn btn-default navbar-btn border-highlight">Sign in</button>
						</td>
						<!-- ~~~~~~~~~~~~~ -->

						<!-- this column allows spacing between the two buttons(sign up and sign in) -->
						<td style="width:20px;">

						</td>


						<!-- sign up button -->
						<td>
							<%= link_to  page_for_choosing_type_of_registration_path ,  :method => :get  do  %> 
								<button type="button" class="btn btn-default navbar-btn border-highlight">Sign Up</button>
							<% end %>
						</td>
						<!-- ~~~~~~~~~~~~~~~ -->

						<!-- help link -->
						<td>

						</td>
						<!-- ~~~~~~~~~~ -->
					</tr>

				</table>

			</div>

		</header>


	</div>
	

</div>
			


	



