	

<header>
	<h1> PetCare </h1>
	<table>
		
		<tr>
			<!-- login button -->
			<td>

			</td>
			<!-- ~~~~~~~~~~~~~ -->

			<!-- sign up button -->
			<td>

			</td>
			<!-- ~~~~~~~~~~~~~~~ -->

			<!-- help link -->
			<td>

			</td>
			<!-- ~~~~~~~~~~ -->
		</tr>

	</table>
</header>
